@import '../../styles/variables.scss';

.st-SignUp {
	display: flex !important;
	align-items: center;
	justify-content: center;

	.modal {
		min-width: 620px;

		&-dialog {
			max-width: unset;
		}

		&-header {
			justify-content: center;
			border-bottom: none;
			float: right;
			height: 10px;
			width: 100px;
			align-self: flex-end;
		}

		.close {
			position: absolute;
			right: 14px;
			top: 0;
			margin: 0;
			outline: none;
		}

		&-body {
			display: flex;
			flex-direction: row;
			padding: 0;
			flex-grow: 1;

			.st-IconButton {
				&-with-content {
					position: absolute;
					right: 10px;
					top: 10px;
				}
			}

			form {
				min-width: 300px;
				padding: 20px;
				justify-content: center;
				display: flex;
				flex-direction: column;

				.st-IconButton {
					margin-top: 15px;
				}
			}

			@media (max-width: $tablet-width) {
				min-width: unset;

				.st-Button {
					margin-top: 10px;
					width: 100%;
				}
			}
		}
	}
}
