.st-Categories {
	span {
		color: #377d5c;
		font-weight: 700;
		font-style: italic;
		font-size: 16px;
	}

	.nav {
		width: 100%;
		display: flex;

		span {
			color: #377d5c;
		}

		.nav-item {
			text-align: left;
			margin-right: 10px;
			font-style: italic;
			font-weight: 600;
			cursor: pointer;

			&:hover {
				color: #6d6d6d;
			}
		}

		&-itemActive {
			color: #6d6d6d;
		}

		&-item {
			color: #b6b6b6;
		}
	}
}
