@import '../../styles/variables.scss';

.st-Stories {
	background: $box-background-primary;
	width: 100%;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin: 40px 0;
	padding: 20px;

	&-header {
		display: flex;
		justify-content: space-between;
	}

	&-lastest {
		display: flex;
		flex-wrap: wrap;
	}
}
