@import '../../styles/variables.scss';

.st-Story {
	background: $box-background-primary;
	width: 100%;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin: 40px 0;
	padding: 20px;

	.fullscreen {
		background: #fff;
		padding: 20px;
	}

	.st-TextViewer {
		padding: 20px;
	}

	&-fullscreen {
		display: flex;
		justify-content: flex-end;
		margin: 10px 0;
	}

	&-header {
		display: flex;
		position: relative;
		height: 250px;

		&:before {
			content: '';
			background: #000;
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.st-Image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-author {
			position: absolute;
			bottom: 30px;
			left: 30px;
			z-index: 2;

			h3 {
				color: $gray-lighter;
			}

			span {
				color: #fff;
				font-style: italic;
				font-weight: bold;
				text-transform: capitalize;
			}
		}
	}

	&-comments {
		&-comment {
			margin: 10px 0;
		}

		&-newComment {
			margin: 10px 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.st-IconButton {
				margin-top: 10px;
			}
		}
	}
}
