.st-TextViewer {
	max-height: 100%;
	// overflow-y: auto;

	.text-editor {
		min-width: 100%;
		word-break: break-word;

		.quill {
			> pre {
				background: transparent;
				padding: 0;
				color: #000;
			}

			.ql-container {
				border: none;
				overflow: hidden;

				.ql-editor {
					padding: 0;
					overflow: hidden;

					p, span {
						word-break: break-word;
					}
				}
			}
		}
	}
}
