@import '../../../styles/variables.scss';

.st-Image {
	&-fallback {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: 1px solid $gray-lighter;
		width: 100%;
		height: 100%;

		&:before {
			font-family: 'FontAwesome';
			position: absolute;
			content: '\f03e';
			font-size: 20px;
		}
	}
}
