@import '../../../styles/variables.scss';

.st-FloatingInput {
	display: flex;
	flex-flow: column-reverse;
	margin-bottom: 0 !important;

	.invalid-feedback {
		display: block;
	}

	label,
	input {
		transition: all 0.2s;
		touch-action: manipulation;
	}

	label {
		color: $color-secondary;
		letter-spacing: 0.05em;
		margin-bottom: 0;
	}

	input {
		background: #f5f6f7 !important;
		border: 1px solid #dfe5ea;
		color: $gray;
		box-sizing: border-box;
		border-radius: 3px;
		min-height: 50px;
		font-size: 14px;

		&:focus {
			outline: 0;
			border-bottom: 1px solid #666;
		}

		&:placeholder-shown + label {
			cursor: text;
			font-size: 10px;
			// max-width: 66.66%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transform-origin: left bottom;
			transform: translate(12px, 34px);
		}

		&:not(:placeholder-shown) + label,
		input:focus + label {
			font-size: 10px;
			transform: translate(12px, 19px);
			cursor: pointer;
		}
	}

	// ::-webkit-input-placeholder {
	// 	opacity: 0;
	// 	transition: inherit;
	// }

	// input:focus::-webkit-input-placeholder {
	// 	opacity: 1;
	// }
}
