@import '../../../styles/variables.scss';

.fs-Input {
	position: relative;
	margin-bottom: 0;
	display: flex;
	min-width: 600px;

	@media (max-width: $tablet-width) {
		min-width: 300px;
	}

	input {
		min-height: 20px; //promenio sam ovo privremeno bilo je 60px sto mi je veliko a nisam video da jos negde koristimo takav input!!!
		border-radius: 6px;
		@media (max-width: $tablet-width) {
			min-height: 50px;
		}
	}

	.form-control {
		font-family: $font-ubuntu;
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
		font-size: 18px;
		line-height: 18px;

		@media (max-width: $tablet-width) {
			font-size: 14px;
		}

		&::placeholder {
			color: $color-secondary;
		}
	}

	.btn-secondary {
		position: absolute;
		height: 100%;
		right: 0;
		background: transparent !important;
		border: none !important;
		color: $color-primary !important;
		box-shadow: none !important;
		padding: 25px;
		font-size: 18px;

		@media (max-width: $tablet-width) {
			font-size: 14px;
			padding: 10px;
		}
	}
}
